// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #2F5874;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #D84727;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #2A9D8F;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$input-border-color: $blue;
$border-color: $blue;
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;

